################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PetList/v15
/.vs/Git/v15/.suo
/.vs
